<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>My Note</title>
</head>
<body>
  <div style="display:flex; justify-content:space-between; align-items:center;">
    <h2>My Note</h2>

    <form method="post" action="/logout" style="margin:0;">
      <button type="submit">Logout</button>
    </form>
  </div>

  {% if msg %}
    <p style="color:green">{{ msg }}</p>
  {% endif %}

  <form method="post">
    <textarea name="content" style="width:100%; height:320px;">{{ content }}</textarea>
    <br><br>
    <button type="submit">Save</button>
  </form>
</body>
</html>